footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;

    .socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}